<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhARb8AI2ImR0oX4FgMqq44b01lVpiqQA</string>
	<key>GCM_SENDER_ID</key>
	<string>678415324438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.genie.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-822e1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-822e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678415324438:ios:076e24e6d9a97dfe91ac37</string>
</dict>
</plist>